
@font-face{
	font-family: "Ashley";
	src: url("../fonts/AshleyCapitaliSofia.otf") format("OpenType");
}


@font-face{
	font-family: "Lifehack"; 
// адрес шрифта и тип 
src: url("../fonts/Lifehack Medium.otf"); 
}

@font-face{
	font-family: "Gagalin"; 
// адрес шрифта и тип 
src: url("../fonts/Gagalin/gagalin-regular-webfont.woff"); 
font-weight: normal;
}


@font-face{
	font-family: "Gagalin"; 
// адрес шрифта и тип 
src: url("../fonts/Gagalin/Gagalin-Regular.otf"); 
font-weight: bold;
}


@font-face{
	font-family: "Ubuntu"; 
// адрес шрифта и тип 
src: url("../fonts/Ubuntu/Ubuntu-Medium.ttf") ; 
}


@font-face{
	font-family: "Ubuntu-B"; 
// адрес шрифта и тип 
src: url("../fonts/Ubuntu/Ubuntu-B.ttf") ; 
}


@font-face{
	font-family: "Ubuntu-Light"; 
// адрес шрифта и тип 
src: url("../fonts/Ubuntu/Ubuntu-Light.ttf") ; 
}


@font-face{
	font-family: "Ubuntu-Regular"; 
// адрес шрифта и тип 
src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf") ; 
}




