.form{
	background:transparent url('../img/form__bg.jpg') center center no-repeat;
	background-size: cover;
	color: #fff;
	font-family: Ubuntu-Light;
	font-size: rem(14px);
	display:flex;
	align-items: center;

	@include tablets {
		min-height: rem(850px);
		margin-bottom: rem(-100px);
	}

	@include mobile {
		min-height: rem(700px);
		margin-bottom: rem(0px);
	}
}



.form__cont{
	min-height: rem(700px);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}


.form__title{
	text-align: center;

	@include tablets {
		font-size:rem(40px);
		margin-bottom: rem(15px);
	}

	@include mobile {
		margin-bottom: rem(30px);
	}
}


.form__main{
	display:flex;

	@include tablets {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.form__left{
	width: 50%;

	@include tablets {
		width: 70%;
	}

	@include mobile {
		width: 98%;
	}
}

.form__right{
	width: 50%;

	@include tablets {
		width: 70%;
	}

	@include mobile {
		width: 98%;
	}
}




.form__row{
	display:flex;
	margin-bottom: rem(20px);

}


.form__el{
	width: 100%;
	border-radius: rem(5px);
	border: none;
	padding: rem(10px) rem(18px);
	outline:none;

	&:focus{
		border: 1px solid $yellow;
	}
}


.form__box{
	display:block;
	width: 100%;
	margin-right: rem(20px);

	@include mobile {
		margin: 0 rem(5px);
	}
}

.floor{
	@include mobile {
		display:none;
	}
}


.form__headline{
	margin-bottom: rem(10px);
}



.form__textarea{
	height: rem(118px);
	resize: none;
	outline: none;
	@include mobile {
		height: rem(80px);
	}
}




.form__radio{
	display:flex;
	align-items: center;
	margin-right: rem(20px);
}


.form__headline_mb{
	margin: 0;
	margin-left: rem(10px);
}





.form__box_radio{
	margin-bottom: rem(25px);
}



.radio-inp{
	width: rem(15px);height: rem(15px);
	color:blue;
}


.reset{
	margin-left: rem(20px);
	color:#fff;
	background-color: transparent;
	border:none;
	outline:none;
	cursor: pointer;
}



.form__btns{
	@include mobile {
		justify-content: center;
	}
}








.fake-radio{
	width: 20px;
	height: 20px;
	border-radius:50%;
	background-color: #fff;
	position: relative;

	&::before{
		content: '';
		position: absolute;
		width: 10px; 
		height: 10px;
		border-radius:50%;
		background-color: $yellow;
		top: 50%;left:50%;
		transform: translate(-50%, -50%);
		transition: 0.3s;
		opacity: 0;

	}
}



.fake-checkbox{
	width: 20px;
	height: 20px;
	border-radius:3px;
	background-color: #fff;
	position: relative;
}

.radio-inp:checked + .fake-radio::before{
	opacity: 1;
}


.checkbox-inp:checked + .fake-checkbox{
	background:#fff url('../icon/check.svg') center center no-repeat;
	background-size: 15px 15px;
}


.radio-inp{
	display:none;
}




